<div class="courses" id="courses">
    <header>Basic Level Courses</header>
  <div class="aboutus__heading"><div class="line"></div><span>Basic Level Courses</span></div>
    <div class="courses__body">
        <ng-container *ngFor="let course of basicCourseList">
            <app-courses-card [courseData]="course"></app-courses-card>
        </ng-container>
    </div>
    <header>Intermediate Level Courses</header>
    <div class="courses__body">
        <ng-container *ngFor="let course of intermediateCourseList">
            <app-courses-card [courseData]="course"></app-courses-card>
        </ng-container>
    </div>
    <header>Advanced Level Courses</header>
    <div class="courses__body">
        <ng-container *ngFor="let course of advancedCourseList">
            <app-courses-card [courseData]="course"></app-courses-card>
        </ng-container>
    </div>
</div>
<app-footer></app-footer>
